# Environment MODE (Options: development | production | test)

NODE_ENV="development"

# DATABASE VARIABLES

DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database]?schema=[public|test]"
REDIS_URL="redis://[host]:[port]"

# JWT SECRET
JWT_SECRET="HS256_SECRET_KEY"
