# Environment MODE (Options: development | production | test)

NODE_ENV="development"

# DATABASE VARIABLES

DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database]"
REDIS_URL="redis://[host]:[port]"

# JWT SECRET
JWT_SECRET="your_jwt_secret_key"
